canvas{
    box-shadow: black 20px 10px 50px;   
}



h1 {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 2.9em;
    font-family:"Rubik", sans-serif;
    color: lightcoral;
    
    
}

h1 > .magic {

    background: linear-gradient(
        to right,
        var(--purple),
        var(--violet),
        var(--pink),
        var(--purple)
    );
    
    
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    white-space: nowrap;

}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    background: linear-gradient(darkblue,black);
}